body {
    background: #F3904F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.card, input[ type^='submit' ], button {
    box-shadow: 0px 2px 6px #0000005e;
}

input[ type^='submit' ] {
    background: #588B8B;
    border-color: #588B8B; 
}

input[ type^='submit' ]:hover, input[ type^='submit' ]:focus, input[ type^='submit' ]:active {
    background-color: #7ca9a9 !important;
    border-color: #7ca9a9 !important; 
}